.middle{
  background-color: blue;
  
}
.text{
  text-align:justify;
}
.lead{
  text-align: justify;
}
.button{
  background-color: orange;
}
.hell{
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
}
.roll{
  margin-top: 40px;
}
.fa{
  color:green;
}
.abd{
  align-content: center;
}





.testimonial-box img {
  display: inline-block;
  width: 90px;
  height:90px;
  border-radius: 50%;
  margin: 0 0 15px;
}
.testimonial-box h4 {
  color: #fe4819;
}
.testimonial-box p {
  margin-bottom: 20px;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
}
.ratings-icons {
  color: #fec42d;
  margin-bottom: 15px;
}
.set{
  color: gold;
}